body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 21px;
  font-family: Arial, Helvetica, sans-serif;
}
#openButton {
  margin: .35em 0 0 .6em;
  color: #745856;
  cursor: pointer;

}
.hero {
  display: flex;
  height: 90vh;
  background-color: #778c7c;
  align-items: center;
  justify-content: center;
}
.hero a:nth-child(1) {
  width: 5em;
  transition: 2s;
}
/* Mobile CurtainNav Below */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0);
  background-color: #745856;
  opacity: 0.95;
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #778c7c;
  display: block;
  transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
  color: #f2b4ad;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/* End of CurtainNav */



/* sticky navbar */
.content {
  padding: 2em;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.5s;
  opacity: .95;
}

/*sticky navbar END */


/* Desktop Settings Below */
@media (min-width: 600px) {
body {
  background-color: white;
}
.hero {
  height: 93vh;
}
.pinLineStripe {
  background-color: #f2b4ad;
  height: 1vh;
}
#navbar div {
  height: 7vh;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #745856;
}
#navbar a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
  text-align: center;
  align-items: center;

}
#navbar a:hover, #navbar a:focus {
  color: #f2b4ad;
  background-color: #886f6c;
  transition: 0.4s;
}
#openButton {
  display: none;
}
#closeButtonContainer {
  visibility: hidden;
  display: none;

}
div #closeButton {
  position: absolute;
  display: none;
  height: 20%;

}
.hero a:nth-child(1) {
  margin: 0 0 0 2em;
  width: 5em;
}
.hero a:nth-child(2) {
  margin: 1em 0 0 2em;
  width: 14em;
}
.overlay .closebtn {
  display: none;
}
.sticky + .content {
  padding-top: 5em;
}


}
/* Desktop Media Query End */

/*stops animation while resizing */
.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}
