body, html {
  margin: 0;
  padding: 0;
  background-color: red;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  height: 20vh;
  background-color: #778c7c;
  align-items: center;
}
.navbar img {
  margin: 0 0 0 2em;
  width: 6em;
}


@media (min-width: 600px) {
  body {
    background-color: white;
  }
}
