body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}
.hero {
  display: flex;
  height: 90vh;
  background-color: #778c7c;
  align-items: center;
  justify-content: center;
}
.hero a:nth-child(1) {
  width: 3em;
}
#navbar {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #745856;
}
#navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}
.content {
  padding: 2em;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 11em;
}



@media (min-width: 600px) {
  body {
    background-color: white;
  }
  .hero {
    height: 90vh;
  }
  #navbar {
    flex-direction: row;
    height: 10vh;
  }
    .hero a:nth-child(1) {
      margin: 0 0 0 2em;
      width: 4em;
    }
  .hero a:nth-child(2) {
    margin: 1em 0 0 2em;
    width: 13em;
  }
  .sticky + .content {
    padding-top: 5em;
  }
}
